@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #1F2937;
    --secondary-color: #3882F6;
    --primary-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --side-padding:15vw;
}

h1, h2, h3, h4, h5, h6, blockquote, body, .quote-section p {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

button {
    padding: 12px 40px;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    border-radius: 16px;
    border-style: solid;
    cursor: pointer;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px var(--side-padding);
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-text-color);
}

.header-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

/* MAIN-CONTENT */

.main-content {
    background-color: var(--primary-text-color);
}

/* HERO-SECTION */

.hero-section {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 80px var(--side-padding);
    height: 30vh;
    gap: 80px;
}

h1 {
    color: var(--primary-text-color);
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    font-size: 18px; 
    color: var(--secondary-text-color);
}

.hero-section img {
    object-fit: cover;
    width: 40vw;
    height: 100%;
}

.hero-section button {
    border-color: var(--secondary-color);
}

/* INFO-SECTION */

.info-section {
    padding: 40px var(--side-padding);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    gap: 16px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--primary-color);
}

.info-card {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.card {
    width: 260px;
    height: 320px;
    color: var(--primary-color);
}

.card img {
    object-fit: cover;
    width: 240px;
    height: 240px;
    border-radius: 20px;
    border: solid;
    border-width: 4px;
    border-color: var(--secondary-color);
}

/* QUOTE-SECTION */

.quote-section {
    background-color: var(--secondary-text-color);
    padding: 80px var(--side-padding);
    height: 40vh;
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-section p {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

/* CALL-TO-ACTION-SECTION */

.cta-section {
    height: 30vh;
    padding: 80px var(--side-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-card {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    padding: 36px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.cta-card p {
    font-weight: 300;
}

.cta-card button {
    border-color: var(--primary-text-color);
}

/* FOOTER */

footer {
    padding: 12px;
    height: 60px;
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}